.customer{opacity: 0.8;}
.message{background-color: #e8e9ed;color: #ada5a5;font-family:HiraginoSans GB W3;font-size: 15px;font-weight: bold;line-height: 24px;padding-bottom: 20px;}
.message p img{margin: 80px auto 0px auto;}
.message p{margin-bottom: 20px;text-align: center;}
.message input,.message textarea{background-color:#41484e; border: none;width: 250px;height:30px;margin-left: 41%;
	/* Gecko browsers */
-moz-border-radius: 5px 5px 5px 5px;
/* Webkit browsers */
-webkit-border-radius: 5px;
/* W3C syntax */
border-radius:5px;}
.message input:focus,.message textarea:focus{color: white;}
.message textarea{height: 100px;resize:none;overflow:hidden;}
.message div{margin-bottom: 15px;}
.message label{display: block;margin-left: 41%;}
.words{width: 100%;height:140px;position: relative;}
.words a{display: block;background-color: #ef6d76;width: 45px;height: 45px;text-align: center;position: absolute;bottom:-6px;left: 49%; 
	line-height: 45px;color: #614f55;font-size: 15px;
    /* Gecko browsers */
-moz-border-radius: 35px 35px 35px 35px;
/* Webkit browsers */
-webkit-border-radius: 35px;
/* W3C syntax */
border-radius:35px;}
